@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  background-color: #d6d6d6;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #c91804;
  height: 100%;
  border-radius: 20px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  color: white;
  user-select: none;
}

.box {
  display: flex;
  justify-content: center;
}

input {
  background-color: #ebebeb;
  border: none;
  border-radius: 20px;
}

.positionOne {
  user-select: none;
  color: #c91804;
  font-family: "Open Sans", sans-serif;
}

.positionTwo {
  user-select: none;
  color: #c91804;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

#plate {
  margin: 8px;
  font-weight: bold;
}

.plates {
  width: 250px;
  height: 25px;
}

label {
  font-weight: bolder;
}

.items {
  display: flex;
  margin: 20px;
  margin-top: -10px;
  gap: 10px;
}

.button {
  background-color: #c91804;
  border: none;
  border-radius: 20px;
  width: 200px;
  height: 30px;
  color: white;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  user-select: none;
  cursor: pointer;
  font-weight: bolder;
  margin-left: 115px;
}

.backButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #870f01;
  scale: 105%;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #d6d6d6;
}

::-webkit-scrollbar-thumb {
  background-color: #c91804;
  border-radius: 10px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
